{% set roles = user.getroles(TRUE) %}
{% set role_name = roles.0 %}

<ul class="navbar-nav me-auto mt-1 mb-lg-0">
  {% for item in items %}
    <li class="nav-item text-light">
      <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  {% if  role_name is same as('creator') and  logged_in%}
      <li class="nav-item text-light">
      <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" href="/add/post">New Post</a>
    </li>
  {% endif %}
  {% if logged_in %}
    <li class="nav-item text-light">
      <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" href="/user/logout">Logout</a>
    </li>
  {% else %}
    <li class="nav-item text-light">
      <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" href="/user/login">Login</a>
    </li>
  {% endif %}
</ul>
