{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form role="search" {{ attributes.addClass('d-flex me-2 my-3 mb-sm-3 mb-3 ') }}>
  {{ children }}
</form>
